/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2018, 6:36:32 PM
    Author     : Petar
*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}

#fot{
    margin-top:5px;
}

.udzbenikDataTable{
    height: 400px;
    width: 70%;
    margin: 0 0 100px 200px;
}

.nastavnikDataTable{
    height: 400px;
    width: 70%;
    margin: 100px 0 100px 200px;
}

.katedraDataTable{
    height: 400px;
    width: 70%;
    margin: 100px 0 100px 200px;
}

.predmetDataTable{
    height: 400px;
    width: 70%;
    margin: 100px 0 100px 200px;
}

.datatableColumn{
    text-align: center;
}

.datatableColumn #viewUdzbenik{
    text-align: center;
    width: 40px;
}


.udzbenikTitle{
    margin: 20px 40px 0 30px;
    font-size: 18px;
    font-weight: bold;

}

#udzbenikForm{
    height: 120%;
    width:600px;
    margin: 65px 0 100px 400px;
    background-color: #9999ff; 
}

#predmetForm{
     height: 120%;
    width:800px;
    margin: 65px 0 100px 300px;
    background-color: #9999ff; 
}

/* udzbenik form*/

.inputUdzbenikId{
    margin-left: 110px;
    width: 250px;
}

.inputUdzbenikNaziv{
    margin-left: 80px;
    width: 250px;
}

.inputUdzbenikGodinaIzdanja{
    width: 250px;
}

.inputUdzbenikIzdavac{
    margin-left: 62.5px;
    width: 250px;
}

.inputUdzbenikRbrIzdanja{
    margin-left: 30px;
    width: 250px;
}

.inputUdzbenikStampa{
    margin-left: 61px;
    width: 250px;
}

.inputUdzbenikTiraz{
    margin-left: 83.5px;
    width: 250px;
}

.inputUdzbenikISBN{
    margin-left: 83.5px;
    width: 250px;
}

.osobaUVezuSaUdzbenikomDataTable{
    margin:20px 0 20px 50px;
    width:500px;
}

.emptyDiv{
    height: 30px;

}

.dodajOsobuNaUdzbeniku{
    margin-left: 40px;

}

#nastavnikSection{
    height: 650px;
    width:600px;
    margin: -100px 0 100px 400px;
    background-color: #9999ff; 
}


/*nastavnik-find*/

.outputNastavnikId{
    margin-left: 115px;
    width: 250px;
}

.outputNastavnikImePrezime{
    margin-left: 15px;
    width: 250px;
}

.outputNastavnikZvanje{
    margin-left: 73px;
    width: 250px;
}

.outputNastavnikKatedra{
    margin-left: 64px;
    width: 250px;
}

.outputNastavnikTelefon{
    margin-left: 67.5px;
    width: 250px;
}

.outputNastavnikEPosta{
    margin-left: 67.5px;
    width: 250px;
}

.outputNastavnikKabinet{
    margin-left:65px;
    width: 250px;
}

.growl{
    z-index:0;
}


/* predmet form */

.inputPredmetId{
    margin-left: 265px;
    width: 300px;
}

.inputPredmetNaziv{
    margin-left: 235px;
    width: 300px;
}

.inputPredmetUslov{
    margin-left: 235px;
    width: 300px;
}

.inputPredmetBrCasPredavanja{
    margin-left: 5px;
}

.inputPredmetBrCasVezbi{
     margin-left: 55px;
}

.inputPredmetOstaliCasovi{
    margin-left: 175px;
}

.inputPredmetStdIstrRad{
     margin-left: 75px;
     width: 300px;
}

.inputPredmetDrObliciNastave{
    margin-left: 115px;
     width: 300px;
}

.inputPredmetCilj{
     margin-left: 135px;
}

.inputPredmetVrstaINivoStudija{
    width:300px;
    margin: 15px 0 0 125px;
}

.NastavnikNaPredmetuDataTable{
   margin:20px 0 20px 135px;
    width:500px;
}

.inputPredmetNastavnikNaPredmetuSelectItem{
    margin-top: 10px;
    margin-left: -35px;
}

.inputPredmetTipNastave{
    margin-top: 10px;
    margin-left: -35px;
}